button {
	height: 30px;
	width: 100px;
	margin-bottom: 20px;
	border-radius: 5px;
	
}

#start-button {
	background-color: orange;
}
#again {
	margin-left: 1.5em;
	background-color: lightblue;
}

#status {
	color: green;
}
.container {
	display: flex;
}

.grid {
	width: 200px;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	background-color: grey;
}

.grid div {
	height: 20px;
	width: 20px;
}

.tetromino {
	background-color: purple;
}

.mini-grid {
	width: 80px;
	height: 80px;
	margin-left: 50px;
	display: flex;
	flex-wrap: wrap;
	background-color: grey;
}

.mini-grid div {
	height: 20px;
	width: 20px;
}